#contact-page {
    padding: 100px;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2.5rem;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 500;
        color: black;
        margin-bottom: 1rem;
    }

    .address, .phone {
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    iframe {
        width: 100%;
        border: 2px solid black;
    }
}
// Small devices - landscape phones (under 768px)
@include media-breakpoint-down(sm) {
    #contact-page {
        height: 100vh;
        padding: 30px;

        .content-box {
            height: 90vh;
            overflow-y: scroll;
        }
    }
}
// Medium devices - tablets (under 992px)
@include media-breakpoint-down(md) {
    #contact-page {
        padding: 35px;
    }
}