#menu-index {
    padding: 100px;

    #food-preview {
        padding: 0;
        background: transparent;
        text-align: center;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
            margin-bottom: 5rem;
        }
    }
}


// Small devices - landscape phones (under 768px)
@include media-breakpoint-down(sm) {
    #menu-index {
        height: 100vh;
        padding: 30px;
        width: 100%;
    }
}

// Medium devices - tablets (under 992px)
@include media-breakpoint-down(md) {
    #menu-index {
        padding: 35px;
    }
}