#menu-index {
    padding: 100px;

    #food-preview {
        padding: 0;
        background: transparent;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
            margin-bottom: 5rem;
        }

        .food-slider {
            width: 100%;
            max-width: 1400px;
            display: flex;
            margin-bottom: 2rem;

            .slide {
                width: 20%;
                height: 500px;
                position: relative;
                overflow: hidden;

                &:hover {
                    cursor: pointer;

                    .background {
                        background-color: $mainred;
                        transform: translate3d(0, -200px, 0);
                    }

                    .content {
                        .food-title {
                            color: white;
                        }

                        .description {
                            color: white;
                        }
                    }
                }

                .background {
                    background: white;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    transition: transform 0.3s ease-in-out;
                }

                .content {
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                    position: absolute;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;
                    transition: all 0.3s ease-in-out;

                    .food-title {
                        font-size: 2rem;
                        font-weight: 900;
                        margin-bottom: 3rem;
                        color: #ed4852;
                    }

                    .description {
                        font-size: 0.8rem;
                        font-weight: 300;
                        line-height: 1.2;
                        margin-bottom: 3rem;
                        color: #7a8d99;
                    }

                    img {
                        width: 95%;
                        max-width: 250px;
                    }
                }
            }
        }
    }
}
// Small devices - landscape phones (under 768px)
@include media-breakpoint-down(sm) {
    #menu-index {
        height: 100vh;
        padding: 30px;
    }
}
// Medium devices - tablets (under 992px)
@include media-breakpoint-down(md) {
    #menu-index {
        padding: 35px;
    }
}